.container-add  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.container-table {
    width: 70%;
    height: 90%;
}
.background {
    background: #fff;
}
.alt{
    padding-top: 25px;
}
.border-table {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.border-table-rig {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px;
}