.container-add  {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.container-table {
    width: 70%;
    height: 90%;
}

#th:first-child {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.867);
}

.tb {
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 30px !important;
    background: rgba(255, 255, 255, 0.867);
}