*{
    padding: 0%;
    margin: 0%;
}

.contenedor-barra{
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 100%;
}

.retro, .agregar, .titulo-cont{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#titulo{
    position: fixed;
    font-size: xx-large;
    font-family: Noto Serif;
    font-weight: 900;
    margin-top: 1%;
}

<<<<<<< HEAD
.annadir {
    height: 60px;
    width: 60px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
=======
.annadir, .atras{
    height: 100%;
    border-radius: 40px;
>>>>>>> 06617f029b0def002e915857ad3bd9853802cb87
    box-shadow: 5px 5px 15px 5px  #9c9a9a;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.annadir:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.0s;
    border-style: solid;
    border-color: rgb(141, 207, 236);
}

.atras:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.0s;
    border-style: solid;
    border-color: rgb(141, 207, 236);
}
