*{
    padding: 0%;
    margin: 0%;
}

.contenedor-barra{
    display: flex;
    align-items: baseline;
    align-content: space-around;
    width: 100%;
    height: 62px;
}

.retro, .agregar {
    height: 62px;
    width: 50%;
}
.retro {
    padding-left: 70px;
}

.agregar {
    padding-left: 370px;
}

.annadir {
    height: 60px;
    width: 60px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px  #9c9a9a;
}

.atras {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px  #9c9a9a;
}

.atras:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.0s;
    border-style: solid;
    border-color: rgba(0,215,255,1);
}

.annadir:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.0s;
    border-style: solid;
    border-color: rgba(0,215,255,1);
}