.contentMain {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.content {
  justify-content: space-evenly;
}

.selecttype,
.selectuse {
  background-color: rgb(141, 207, 236);
  width: 190px;
  height: 90px;
  text-align: center;
  font-family: Noto Serif;
  font-size: large;
  font-weight: 500;
  color: rgb(255, 255, 255);
  border: 7px solid rgb(255, 255, 255);
  border-color: #fff;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
}

.options {
  background-color: rgb(255, 255, 255);
  color: rgb(141, 207, 236);
  font-size: larger;
  font-weight: 600;
}

.nombreIn {
  background-color: rgb(141, 207, 236);
  width: 170px;
  height: 90px;
  text-align: center;
  font-family: Noto Serif;
  color: rgb(255, 255, 255);
  font-size: larger;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 40px;
  outline: none;
}

.nombreIn::placeholder {
  color: rgb(255, 255, 255);
  font-size: larger;
}

.Btnn .lupa {
  width: 80px;
  cursor: pointer;
}

/*EFECTOS HOVER*/

.Btnn .lupa:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.selecttype:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.nombreIn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.selectuse:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
