body {
  margin: 0;
  padding: 0;
  background-color: rgb(141, 207, 236) !important;
}

.contenedorNav {
  width: 100%;
}

nav {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 15px 5px #047c91;
}

nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav .btnico .logo {
  width: 90px;
  cursor: pointer;
}

nav .menu li .btnmenu {
  border: none;
  padding: 40px 15px;
  font-size: large;
  font-family: Noto Serif;
  font-weight: 600;
  cursor: pointer;
}

#contSub {
  border: none;
  padding: 35px 15px;
  font-size: large;
  font-family: Noto Serif;
  font-weight: 600;
  cursor: pointer;
}

/*Elemento hover*/

.btnmenu:hover {
  background-color: rgb(141, 207, 236);
  box-shadow: 5px 5px 20px 5px #ffffff;
  transition: 0.3s;
  color: #ffffff;
}

#contSub:hover {
  background-color: rgb(141, 207, 236);
  box-shadow: 5px 5px 20px 5px #ffffff;
  transition: 0.3s;
  color: #ffffff;
}

.subtnmenu:hover {
  background-color: rgb(141, 207, 236);
  box-shadow: 5px 5px 20px 5px #ffffff;
  transition: 0.3s;
  color: #ffffff;
}

.menu li:hover .submenu {
  display: flex;
  flex-direction: column;
}

/* Lista despegable */

.submenu {
  margin-top: 35px;
  position: absolute;
  background-color: #ffffff;
  list-style: none;
  font-family: Noto Serif;
  width: 150px;
  display: none;
}

.submenu li .subtnmenu {
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}
