.Caja{
    width: 100%;
    height: 120px;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.css-12jo7m5 {
    color: blueviolet;
}

.estilo{
    width: 80%;
    display: flex;
    font-size: larger;
    font-weight: 600;
    font-family: Noto serif;
    color: rgb(141, 207, 236);
    justify-content: baseline;
    margin-top: 25px;
}

.Select{
    width: 60%;
}

.options{
    width: 50%;
}

#titulo{
    margin-right: 20px;
}

#titulo2{
    margin-right: 30px;
}




