.contenedorVista{
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
}

.contBarranav{
    padding-top: 1%;
    padding-bottom: 1%;
}

.contenedorPro{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.subcontenedorPro{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 2%;
}

.card{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    width: 220px;
    height: 300px;
    border-radius: 40px;
    border: 1px solid rgb(69, 69, 69);
}

.cardContent, .imgPro{
    width: 95%;
    height: 88%;
    margin-top: 3%;
    margin-left: 5px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.contentBtn, .btnVerM{
    color: rgb(0, 0, 0);
    border-radius: 30px;
    width: 90%;
    margin-left: 5%;    
    text-align: center;
    text-decoration: none;
    font-family: Noto Serif;
}

.btnVerM:hover{
    font-size: large;
}