.Caja{
    width: 100%;
    height: 120px;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.css-12jo7m5 {
    color: blueviolet;
}
.estilo{
    font-size: larger;
    font-weight: 600;
    font-family: Noto serif;
    color: rgb(141, 207, 236);
}

.Select{
    width: 500px;
    flex-direction: column;
}

.options{
    width: 500px;
    margin-top: 30px;
    flex-direction: column;
}