.containerAdd {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.annadir {
    margin-top: 15px;
}

.tbl {
    border-radius: 30px;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.containerTab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    height: 20%;
}

.containerTable {
    width: 70%;
    height: 80%;
    margin-bottom: 25px;
}

.background {
    background: #fff;
    border-bottom: 1px solid #000;
}