* {
  padding: 0%;
  margin: 0%;
}
.contenedorBarra {
  display: flex;
  justify-content: space-around;
  height: 70px;
  width: 100%;
}

.retro,
.agregar,
.tituloCont {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

#titulo {
  font-size: 40px;
  font-family: Noto Serif;
  font-weight: 500;
  margin-top: 2.5%;
}

.annadir,
.atras {
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin: 5px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  box-shadow: 5px 5px 15px 5px #9c9a9a;
}

.annadir:hover {
  transform: scale(1.2);
  background-color: rgb(255, 255, 255);
  transition-duration: 0s;
  border-style: solid;
  border-color: rgb(141, 207, 236);
}

.atras:hover {
  transform: scale(1.2);
  background-color: rgb(255, 255, 255);
  transition-duration: 0s;
  border-style: solid;
  border-color: rgb(141, 207, 236);
}
