*{
    padding: 0%;
    margin: 0%;
}

.buttonB{
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 5px 15px 5px  #9c9a9a;
}

.buttonB:hover{
    transform: scale(1.2);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.0s;
    border-style: solid;
    border-color: rgba(0,215,255,1);
}

.icoV {
    width: 95%;
}


.contenedor-barra {
   width: 100%;
   float: left;
   margin-top: 15px;
   margin-bottom: 5px;
}

.contenedor-btnretro {
    float: left;
    margin-left: 80px;
}
.contenedor-titulo{
    float: left;
    margin-left: 225px;
    margin-right: 225px;
    margin-top: 10px;
}
.contenedor-btnadd{
    float: right;
    margin-right: 150px;
}

h1 {
   padding: 0%;
   margin: 0%;
}
