.content{
  background-color: rgb(141, 207, 236);
}

.Btnn{
  width: 110px;
  height: 60px;
  background-color: rgb(141, 207, 236);
  border-radius:40px;
  box-shadow: 5px 5px 15px 5px #ffffff;
}

.lupa{
   width: 60%;
   height: 100%;
}

.content{
  display: flex;
  justify-content: space-around ;
}

.select-wrapper{
  background-color: rgb(141, 207, 236);
  border-radius: 20px;
}

input::placeholder {
  color: rgb(0, 0, 0);
  font-size: larger;
}


.dropdown-content li>a, .dropdown-content li>span {
 color: rgb(0, 0, 0);
 box-shadow: 1px 1px 1px 1px rgb(141, 207, 236);
}

input[type=text]:not(.browser-default) {
 background-color: rgb(141, 207, 236);
 border-radius: 40px;
 box-shadow: 5px 5px 15px 5px #ffffff;
 padding-bottom: 10px;  
 color: rgb(0, 0, 0);
 text-align: center;
 font-size: larger;
}


/* EFECTOS HOVER*/
input.select-dropdown:hover{
  transform: scale(1.1);
  background-color: rgb(141, 207, 236);
  transition-duration: 0.1s;
  border-style: solid; 
  border-color: #ffffff;
}

.Btnn:hover{
  transform: scale(1.1);
  background-color: rgb(141, 207, 236);
  transition-duration: 0.1s;
  border-style: solid; 
  border-color: #ffffff;
}
