.content {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.form {
  background-color: rgb(255, 255, 255);
  height: 60vh;
  border-radius: 25px;
  width: 85%;
}
.text {
  color: rgb(141, 207, 236);
  text-align: center;
  margin-top: 1%;
}
.formempresa {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 80%;
  width: 100%;
  margin-top: 1%;
}
.input {
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid #2b6696;
  width: 40%;
  height: 50px;
  outline: none;
  color: #2b6696;
  font-size: 24px;
  margin-right: 2%;
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
}
.letter{
  font-size: large;
  color: #2b6696;
  font-weight: 500;
}
.select {
  margin-top: 1%;
  width: 30%;
  height: 40px;
  margin-right: 5%;
  margin-left: 9%;
  border-radius: 25px;
  border: 2px solid #2b6696;
  color: rgb(255, 255, 255);
  font-size: large;
  outline: none;
  background-color: #2b6696;
  cursor: pointer;
}
.btn {
  margin-right: 10%;
  width: 20%;
  margin-top: 1%;
}
.button {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #2b6696;
  color: rgb(5, 46, 64);
  font-size: larger;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.select:hover{
  background-color: rgb(255, 255, 255);
  color: #2b6696;
}

.button:hover{
  background-color: #2b6696;
  color: rgb(255, 255, 255);
}