.contentUso {
    width: 100%;
    height: 100vh;
}

.containerUso {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 83%;
}

.contenedorPrincipalUso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    height: 350px;
    width: 80%;
    text-align: center;
    color: #848691;
    border-radius: 30px;
}

.textoUso {
    width: 100%;
    text-align: center;
}

.body {
    width: 100%;
    height: 60%;
    display: flex;
    align-content: center;
    align-items: center;
}


.Form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.formInput {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}
.input {
    padding: 4px;
    width: 95%;
    height: 60px;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0px 2px 6px 4px #2b6696;
    font-family: 'Noto Serif';
    font-size: 16px;
    font-style: normal;
    text-align: left;
    outline: none;
    text-align: center;
    color: #2b6696;
    border: none;
}

.select {
    background: #FFFFFF;
}

.select > option {
    border-radius: 30px;
    outline: none;
}

.select > option:hover {
    background-color: #2b6696;
}

.botones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buton1 {
    background: #3271A5;
    font-size: 20px;
    color: #FFFFFF;
    border: 1%;
    border-style: solid;
    border-color: #3271A5;
    border-radius: 30px;
    width: 25%;
    height: 40px;
    margin: 1%;

}

.buton2 {
    background: #FFFFFF;
    font-size: 20px;
    color: #3271A5;
    border: 1%;
    border-style: solid;
    border-color: #3271A5;
    border-radius: 30px;
    width: 25%;
    height: 40px;
    margin: 1%;
}

.buton2:hover {
    background: #3271A5;
    color: #FFFFFF;
}

.buton1:hover {
    background: #FFFFFF;
    color: #3271A5;
}

.buton1:active {
    background-color: #7FB5E1;
}

.buton2:active {
    background-color: #D1E9FB;
}