.row{
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.Btnn{
    height: 80px;
    width: 200px;
    margin-left: 80px;
    padding: 10px;
    background-color: rgb(141, 207, 236);
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 5px 5px 15px 5px #ffffff;
}

.Btnn:hover{
    transform: scale(1.1);
    background-color: rgb(141, 207, 236);
    transition-duration: 0.1s;
    border-style: solid; 
    border-color: #ffffff;
}


.icono{
    width: 30%;
}

.contenedor{
    margin-top: 50px;
}
 
