.contenedor-Botones {
    margin-left: 90px;

}

.contenedor-principal {
    background-color: rgb(253, 253, 253);
    height: 500px;
    margin-top: 50px;

}

.buttonMed {
  width: 300px;
  margin-left: 110px;
  margin-top: 50px;
  border-radius: 20px;
  border-style: solid;
  background-color: rgb(141, 207, 236);
  height: 100px;
  padding: 30px;
  font-size: 25px;
}

.buttonMed:hover {
    transform: scale(1.1);
    background-color: #92c7f3;
    box-shadow: 5px 5px 15px 5px #65d0e6;
}

.contenedor-btn {
    padding: 0%;
    margin: 0%;
}

.contenedor-medicinas {
    height: 500px;
}



