.contenedorPrincipal {
    margin-top: 90px;
    margin-bottom: 35px;
    padding: 9px;
    width: 100%;
}

.contenedor-barra {
    width: 100%;
}

.contenedorBotones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.conteneroClass{
    background-color: #fff;
    border-radius: 20px;
}

.contenedorMedicinas{
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.buttonMed {
    width: 300px;
    margin-top: 40px;
    border-radius: 20px;
    border: 3px solid #fff;
    background-color: rgb(141, 207, 236);
    height: 100px;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}

.buttonMed:hover {
    transform: scale(1.1);
    background-color: #92c7f3;
    box-shadow: 5px 5px 15px 5px #65d0e6;
}