body{
    margin: 0;
    padding: 0;
    background-color: rgb(141, 207, 236) !important;
}

.contenedor-nav{
    width: 100%;
}

.menu{
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: auto;
    width: 100%;
    box-shadow: 5px 5px 15px 5px  #047c91;
}

.logo{
    height: 100%;
}

.submenu{
    display: flex;
    justify-content: space-between;
}

.listado{
    display: flex;
    justify-content: flex-end;
}

.btnico{
    height: 90px;
    justify-content: flex-start;
    transform: translate(10%);
}


.btnmenu{
    height: 90px;
    font-size: 100%;
    font-weight: 900;
    padding: 10px;
}

/*Elemento hover*/

.menu:hover{
    justify-content: space-between;
    transform: scale(1.1);
    background-color: #ffffff;
    transition-duration: 0.0s;
    box-shadow: 5px 5px 15px 5px  #047c91;
}


.submenu:hover{
    display: flex;
    justify-content: space-between;
    padding-left:  4%;
    padding-right: 4%;
}

.listado:hover{
    display: flex;
    justify-content: flex-end;
}

.btnico:hover{
    transform: scale(1.1);
    background-color: #ffffff;
    transition-duration: 0.0s;
    box-shadow: 5px 5px 15px 5px #ffffff;
}


.btnmenu:hover{
    transform: scale(1.1);
    background-color: rgb(141, 207, 236);
    transition-duration: 0.0s;
    box-shadow: 5px 5px 20px 5px #ffffff;
    color: #ffffff;
}


