body {
    margin: 0;
    padding: 0;
    background-color: rgb(141, 207, 236) !important;
}

.nav-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 15px 5px  #047c91;
}

.menu {
    height: 80px;
}

.logo {
    width: 80%;
}

.btnmenu {
    background-color: rgb(255, 255, 255);
    height: 80px;
    float: left;
    font-size: x-large;
}

.btnmenu:hover{
    transform: scale(1.1);
    background-color: rgb(141, 207, 236);
    transition-duration: 0.0s;
    box-shadow: 5px 5px 20px 5px #ffffff;
    color: #ffffff;
}

.btnico {
    background-color: rgb(255, 255, 255);
    height: 80px;
    width: 7%;
    transform: translate(10%);
    font-size: x-large;
}

.btnico:hover{
    transform: scale(1.1);
    background-color: #ffffff;
    transition-duration: 0.0s;
    box-shadow: 5px 5px 15px 5px #ffffff;
}

