* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Noto serif;
}

.container {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTable {
  height: 680px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.containerData64 {
  width: 100%;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.containerImg,
.data,
.table {
  background: #fff;
  border-radius: 30px;
}
.containerImg {
  width: 30%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.padingImg{
  padding: 15px;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.data {
  width: 57%;
  height: 300px;
}

.borderName {
  padding: 15px;
}

.containerTable {
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thNombre {
  margin-top: 6px;
  width: 100%;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  align-items: center;
}

.theadNombre {
  width: 20%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: rgb(141, 207, 236);
  font-family: Noto serif;
}

.tdNOmbre {
  width: 60%;
  height: 95%;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Noto serif;
  font-weight: 600;
  color: rgb(141, 207, 236);
  border-bottom: solid 2px rgb(141, 207, 236);
}
.table {
  width: 91%;
  height: 420px;
  display: flex;
  margin-top: 20px;
}

.paddingBotton {
  padding-bottom: 35px;
}
.textMain {
  font-size: 22px;
  font-weight: 700;
}
.contentBack {
  height: 100%;
  width: 83%;
  justify-content: center;
  margin-top: 2.5%;
}
.subContent {
  width: 100%;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.contentLeft {
  margin-left: 1%;
  width: 17%;
  color: rgb(141, 207, 236);
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-family: Noto serif;
}
.contentRightD {
  width: 82%;
  color: rgb(141, 207, 236);
  border-bottom: 2px solid rgb(141, 207, 236);
  font-size: 18px;
  font-weight: 600;
  font-family: Noto serif;
}
.contentRight {
  margin-left: 1%;
  width: 35%;
  color: rgb(141, 207, 236);
  border-bottom: 2px solid rgb(141, 207, 236);
  font-size: 18px;
  font-weight: 600;
}
.contentUp {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.btn {
  background-color: rgb(141, 207, 236);
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-size: 16px;
  font-family: Noto serif;
  cursor: pointer;
}
