.contenedor-imagen {
    background-color: rgb(255, 255, 255);
}
.contenedor-marca {
    background-color: rgb(255, 255, 255);
}
.contenedor-descrpcion {
    background-color: rgb(255, 255, 255);
}
.Eliminar {
 
}
.Editar {
    
}


