.contenedorVista {
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
}

.contBarranav {
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedorPro {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.subcontenedorPro {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 2%;
}

.card {
  width: 240px;
  height: 240px;
}

.cardContent {
  width: 90%;
  height: 80%;
  border-radius: 30px;
  border:  1px solid #8DCFEC;
}

.imgPro{
  border-radius: 5px;
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.contentBtn,
.btnVerM {
  color: #3271A5;
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  font-family: Noto Serif;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.btnVerM:hover {
  font-size: 21px;
  cursor: pointer;
}
