.contenedorVista {
  background-color: rgb(255, 255, 255);
  margin-top: 90px;
}

.contBarranav {
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedorPro {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.subcontenedorPro {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 2%;
}

.card {
  width: 240px;
  height: 240px;
  border-radius: 40px;
  border: 1px solid rgb(99, 89, 89);
}

.cardContent,
.imgPro {
  width: 95%;
  height: 88%;
  margin-top: 3%;
  margin-left: 5px;
  border-radius: 30px;
}

.contentBtn,
.btnVerM {
  color: rgb(0, 0, 0);
  width: 90%;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  font-family: Noto Serif;
  background-color: transparent;
  font-size: 13px;
}

.btnVerM:hover {
  font-size: 16px;
  cursor: pointer;
}
